<header id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "IdeaSpark", root_path, id: "logo", class: "navbar-brand" %>
    <span class="btn-menu glyphicon glyphicon-cog" data-toggle="collapse" data-target="#navlist"></span>
    <nav id="navlist" class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= current_user.name %></li>
          <li id="fat-menu" class="dropdown">
            <a class="dropdown-toggle sr-only" id="account-menu" role="button" data-toggle="dropdown" data-target="#" href="/profile">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="account-menu">
              <li role="presentation"><%= link_to "Profile", profile_path, role: "menuitem", tabindex: "-1" %></li>
              <li role="presentation"><%= link_to "Settings", profile_edit_path, role: "menuitem", tabindex: "-1" %></li>
              <li class="divider"></li>
              <li role="presentation"><%= link_to "Sign out", destroy_user_session_path, method: "delete", role: "menuitem", tabindex: "-1" %></li>
            </ul>
          </li>
        <% else %>
	  <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
